.frameChild {
  height: 173px;
  width: 1166px;
  position: relative;
  background-color: var(--color-chocolate);
  display: none;
  max-width: 100%;
}
.mrbaker3Icon {
  height: 120px;
  width: 130px;
  position: relative;
  border-radius: var(--br-71xl);
  object-fit: cover;
  z-index: 2;
}
.baker {
  color: var(--color-yellowgreen-100);
}
.mrbaker {
  margin: 0;
  width: 287.6px;
  height: 30px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 3px 0 0#000, 0 3px 0#000, -3px 0 0#000, 0-3px 0#000;
  z-index: 2;
}
.nbpBuilding38 {
  flex: 1;
  position: relative;
  z-index: 4;
}
.mRBAKERLabel {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-2xs);
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-libre-franklin);
}
.mRBAKERLabel,
.mrbakerParent,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mrbakerParent {
  width: 295px;
  flex-direction: column;
  gap: var(--gap-28xl);
}
.rectangleParent {
  align-self: stretch;
  background-color: var(--color-chocolate);
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-24xl) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--color-snow-200);
  font-family: var(--font-saira-stencil-one);
}
@media screen and (max-width: 700px) {
  .rectangleParent {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .mrbakerParent {
    gap: var(--gap-4xl);
  }
}
